# Package lock
package-lock.json

# Node Modules
node_modules

# Source Files, only keeping the dist folder
src

# Ignore file files
.gitignore
.npmignore

# Config files
.prettierrc
eslint.config.mjs
jest.config.js
tsconfig.*
publish.sh
tsup.config.ts
bump_version.ts
ready.sh
vitest.config.ts

metools-tcheck-*.tgz